{% extends "layout.html" %}

{% block title %}
    Página de Inicio
{% endblock %}


{% block main %}
    <table class="table-bordered table-striped table-hover">
        <tr>
        <thead>
                <td>Web page</td>
                <td>Username</td>
                <td>Passwod</td>
            </tr>
        </thead>
        <tbody>
                {%for row in rows%}
                <tr>
                    <td>{{row["web_page"]}}</td>
                    <td>{{row["username"]}}</td>
                    <td>{{row["password"]}}</td>
                    <td>
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" value="{{row['id']}}">   
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            <tr>
                <form action="/passwords" method="post">
                    <td><input placeholder="Enter" autofocus name="web_page" required></td>
                    <td><input placeholder="Enter"  name="username" required></td>
                    <td><input placeholder="Enter"  name="password" required></td>
                    <td><button class="btn btn-primary" type="submit">Add</button></td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}